/*
* This code was generated by
*
* SENDGRID-OAI-GENERATOR
*
* Twilio SendGrid Legacy Marketing Campaigns Contacts API
* The Twilio SendGrid Legacy Marketing Campaigns Contacts API allows you to manage your marketing contacts programmatically. This API is operational, but we recommend using the current version of Marketing Campaigns' [Contacts API](https://docs.sendgrid.com/api-reference/contacts/), [Lists API](https://docs.sendgrid.com/api-reference/lists/), and [Segments API](https://docs.sendgrid.com/api-reference/segmenting-contacts-v2/) to manage your contacts.  See [**Migrating from Legacy Marketing Campaigns**](https://docs.sendgrid.com/ui/sending-email/migrating-from-legacy-marketing-campaigns) for more information.
*
* NOTE: This class is auto generated by OpenAPI Generator.
* https://openapi-generator.tech
* Do not edit the class manually.
 */

package openapi

import (
	"encoding/json"
	"fmt"
	"net/http"
	"net/url"

	"strings"
)

type AddRecipientToContactDbListParam struct {
	// The ID of the list that you want to add the recipient to.
	ListId *int32 `json:"list_id"`
	// The ID of the recipient you are adding to the list.
	RecipientId *string `json:"recipient_id"`
	// The `on-behalf-of` header allows you to make API calls from a parent account on behalf of the parent's Subusers or customer accounts. You will use the parent account's API key when using this header. When making a call on behalf of a customer account, the property value should be \"account-id\" followed by the customer account's ID (e.g., `on-behalf-of: account-id <account-id>`). When making a call on behalf of a Subuser, the property value should be the Subuser's username (e.g., `on-behalf-of: <subuser-username>`). See [**On Behalf Of**](https://docs.sendgrid.com/api-reference/how-to-use-the-sendgrid-v3-api/on-behalf-of) for more information.
	Onbehalfof *string `json:"on-behalf-of,omitempty"`
}

func (params *AddRecipientToContactDbListParam) SetListId(ListId int32) *AddRecipientToContactDbListParam {
	params.ListId = &ListId
	return params
}
func (params *AddRecipientToContactDbListParam) SetRecipientId(RecipientId string) *AddRecipientToContactDbListParam {
	params.RecipientId = &RecipientId
	return params
}
func (params *AddRecipientToContactDbListParam) SetOnbehalfof(Onbehalfof string) *AddRecipientToContactDbListParam {
	params.Onbehalfof = &Onbehalfof
	return params
}

// **This endpoint allows you to add a single recipient to a list.**
func (c *ApiService) AddRecipientToContactDbList(params *AddRecipientToContactDbListParam) (interface{}, error) {
	path := "/v3/contactdb/lists/{ListId}/recipients/{RecipientId}"
	if params != nil && params.ListId != nil {
		path = strings.Replace(path, "{"+"ListId"+"}", fmt.Sprint(*params.ListId), -1)
	}
	if params != nil && params.RecipientId != nil {
		path = strings.Replace(path, "{"+"RecipientId"+"}", *params.RecipientId, -1)
	}

	data := url.Values{}
	headers := map[string]interface{}{
		"Content-Type": "application/x-www-form-urlencoded",
	}

	if params != nil && params.Onbehalfof != nil {
		headers["on-behalf-of"] = *params.Onbehalfof
	}
	resp, err := c.requestHandler.Post(c.baseURL+path, data, headers)
	if err != nil {
		return nil, err
	}

	defer resp.Body.Close()
	if resp.StatusCode == 400 {
		ps := &ErrorResponse{}
		if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
			return nil, err
		}

		return ps, err
	}
	if resp.StatusCode == 401 {
		ps := &ErrorResponse{}
		if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
			return nil, err
		}

		return ps, err
	}
	if resp.StatusCode == 404 {
		ps := &ErrorResponse{}
		if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
			return nil, err
		}

		return ps, err
	}
	return http.Response{StatusCode: resp.StatusCode, Body: resp.Body, Header: resp.Header}, nil
}
