language: go
go:
  - '1.6'
  - '1.7'
  - '1.8'
  - '1.9'
  - '1.10'
  - '1.11'
  - 'tip'

before_script:
  - $HOME/gopath/src/github.com/sendgrid/sendgrid-go/prism.sh

before_install:
  - go get -t -v ./...

script:
  - ./go.coverage.sh
  - go test -cover -v -race ./... | grep -v -E '/vendor|/examples|/docker'

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  hipchat:
    rooms:
      secure: ebEe+SoHExe1JALPXIutdtWNUYRR1ic9rB9oda+9oYsr+BNnPy50eqKjzAskcULbdmZqhgmHSoTgegiE5IOGZpAi6sumBA422K860x3VoS2cqm2sBSb1o85uoSiVJQ+AMS6lEZH/w7V3wAq+ukCK0Xs3rlxEsz9Byb6I/woU8lE=
    template:
    - '<a href="https://travis-ci.org/%{repository}/builds/%{build_id}">%{repository}
      Build %{build_number}</a> on branch <i>%{branch}</i> by %{author}: <strong>%{message}</strong>
      <a href="https://github.com/sendgrid/%{repository}/commits/%{commit}">View on GitHub</a>'
    format: html
    notify: true
