language: go
go:
  - 1.7.x
  - 1.8.x
  - 1.9.x
  - 1.10.x
  - 1.11.x
  - 1.12.x
  - 1.13.x
  - 1.14.x
  - tip

before_script:
  - $HOME/gopath/src/github.com/sendgrid/sendgrid-go/prism.sh

script:
  - make test

after_success:
  - bash <(curl -s https://codecov.io/bash)
