language: go
go:
  - '1.6'
  - '1.7'
  - '1.8'
  - '1.9'
  - '1.10'
  - '1.11'
  - 'tip'

before_script:
  - $HOME/gopath/src/github.com/sendgrid/sendgrid-go/prism.sh

script:
  - make test

after_success:
  - bash <(curl -s https://codecov.io/bash)
