/*
* This code was generated by
*
* SENDGRID-OAI-GENERATOR
*
* Twilio SendGrid Marketing Campaigns Statistics API
* The Marketing Campaigns Stats API allows you to retrieve statistics for both Automations and Single Sends. The statistics provided include bounces, clicks, opens, and more. You can export stats in CSV format for use in other applications. You can also retrieve Marketing Campaigns stats in the [Marketing Campaigns application user interface](https://mc.sendgrid.com/).  This API provides statistics for Marketing Campaigns only. For stats related to event tracking, please see the [Stats API](https://docs.sendgrid.com/api-reference/stats).
*
* NOTE: This class is auto generated by OpenAPI Generator.
* https://openapi-generator.tech
* Do not edit the class manually.
 */

package openapi

import (
	"encoding/json"
	"fmt"
	"net/http"
	"net/url"

	"strings"
)

type ListSingleSendTrackingStatParam struct {
	// The ID of Single Send for which you want to retrieve link stats.
	Id *string `json:"id"`
	// The number of elements you want returned on each page.
	PageSize *int32 `json:"page_size,omitempty"`
	// The stats endpoints are paginated. To get the next page, call the passed `_metadata.next` URL. If `_metadata.prev` doesn't exist, you're at the first page. Similarly, if `_metadata.next` is not present, you're at the last page.
	PageToken *string `json:"page_token,omitempty"`
	// A/B Single Sends have multiple variation IDs and phase IDs. Including these additional fields allows further granularity of stats by these fields.
	GroupBy *[]Items2 `json:"group_by,omitempty"`
	//
	AbVariationId *string `json:"ab_variation_id,omitempty"`
	//
	AbPhaseId *AbPhaseId `json:"ab_phase_id,omitempty"`
}

func (params *ListSingleSendTrackingStatParam) SetId(Id string) *ListSingleSendTrackingStatParam {
	params.Id = &Id
	return params
}
func (params *ListSingleSendTrackingStatParam) SetPageSize(PageSize int32) *ListSingleSendTrackingStatParam {
	params.PageSize = &PageSize
	return params
}
func (params *ListSingleSendTrackingStatParam) SetPageToken(PageToken string) *ListSingleSendTrackingStatParam {
	params.PageToken = &PageToken
	return params
}
func (params *ListSingleSendTrackingStatParam) SetGroupBy(GroupBy []Items2) *ListSingleSendTrackingStatParam {
	params.GroupBy = &GroupBy
	return params
}
func (params *ListSingleSendTrackingStatParam) SetAbVariationId(AbVariationId string) *ListSingleSendTrackingStatParam {
	params.AbVariationId = &AbVariationId
	return params
}
func (params *ListSingleSendTrackingStatParam) SetAbPhaseId(AbPhaseId AbPhaseId) *ListSingleSendTrackingStatParam {
	params.AbPhaseId = &AbPhaseId
	return params
}

// **This endpoint lets you retrieve click-tracking stats for one Single Send**.  The stats returned list the URLs embedded in the specified Single Send and the number of clicks each one received.
func (c *ApiService) ListSingleSendTrackingStat(params *ListSingleSendTrackingStatParam) (interface{}, error) {
	path := "/v3/marketing/stats/singlesends/{Id}/links"
	if params != nil && params.Id != nil {
		path = strings.Replace(path, "{"+"Id"+"}", *params.Id, -1)
	}

	data := url.Values{}
	headers := map[string]interface{}{
		"Content-Type": "application/x-www-form-urlencoded",
	}

	if params != nil && params.PageSize != nil {
		data.Set("page_size", fmt.Sprint(*params.PageSize))
	}
	if params != nil && params.PageToken != nil {
		data.Set("page_token", *params.PageToken)
	}
	if params != nil && params.GroupBy != nil {
		for _, item := range *params.GroupBy {
			v, err := json.Marshal(item)

			if err != nil {
				return nil, err
			}

			data.Add("group_by", string(v))

		}
	}
	if params != nil && params.AbVariationId != nil {
		data.Set("ab_variation_id", *params.AbVariationId)
	}
	if params != nil && params.AbPhaseId != nil {
		data.Set("ab_phase_id", fmt.Sprint(*params.AbPhaseId))
	}

	resp, err := c.requestHandler.Get(c.baseURL+path, data, headers)
	if err != nil {
		return nil, err
	}

	defer resp.Body.Close()
	if resp.StatusCode == 200 {
		ps := &SinglesendsLinkStatsResponse{}
		if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
			return nil, err
		}

		return ps, err
	}
	if resp.StatusCode == 400 {
		ps := &ErrorResponse{}
		if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
			return nil, err
		}

		return ps, err
	}
	if resp.StatusCode == 404 {
		ps := &map[string]interface{}{}
		if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
			return nil, err
		}

		return ps, err
	}
	return http.Response{Status: resp.Status, StatusCode: resp.StatusCode, Body: resp.Body}, nil
}
