/*
* This code was generated by
*
* SENDGRID-OAI-GENERATOR
*
* Twilio SendGrid IP Address Management API
* The Twilio SendGrid IP Address Management API combines functionality that was previously split between the Twilio SendGrid [IP Address API](https://docs.sendgrid.com/api-reference/ip-address) and [IP Pools API](https://docs.sendgrid.com/api-reference/ip-pools). This functionality includes adding IP addresses to your account, assigning IP addresses to IP Pools and Subusers, among other tasks.
*
* NOTE: This class is auto generated by OpenAPI Generator.
* https://openapi-generator.tech
* Do not edit the class manually.
 */

package openapi

import (
	"encoding/json"
	"net/http"
	"net/url"

	"strings"
)

type AddSubUsersToIpParam struct {
	// The `ip` path parameter specifies an IP address to make the request against.
	Ip *string `json:"ip"`
	//
	AddSubUsersToIpRequest *AddSubUsersToIpRequest `json:"AddSubUsersToIpRequest,omitempty"`
}

func (params *AddSubUsersToIpParam) SetIp(Ip string) *AddSubUsersToIpParam {
	params.Ip = &Ip
	return params
}
func (params *AddSubUsersToIpParam) SetAddSubUsersToIpRequest(AddSubUsersToIpRequest AddSubUsersToIpRequest) *AddSubUsersToIpParam {
	params.AddSubUsersToIpRequest = &AddSubUsersToIpRequest
	return params
}

// This operation appends a batch of Subusers to a specified IP address. This endpoint requires all Subuser assignments to succeed. If a Subuser assignment fails, this endpoint will return an error.
func (c *ApiService) AddSubUsersToIp(params *AddSubUsersToIpParam) (interface{}, error) {
	path := "/v3/send_ips/ips/{Ip}/subusers:batchAdd"
	if params != nil && params.Ip != nil {
		path = strings.Replace(path, "{"+"Ip"+"}", *params.Ip, -1)
	}

	data := url.Values{}
	headers := map[string]interface{}{
		"Content-Type": "application/json",
	}

	body := []byte{}
	if params != nil && params.AddSubUsersToIpRequest != nil {
		b, err := json.Marshal(*params.AddSubUsersToIpRequest)
		if err != nil {
			return nil, err
		}
		body = b
	}

	resp, err := c.requestHandler.Post(c.baseURL+path, data, headers, body...)
	if err != nil {
		return nil, err
	}

	defer resp.Body.Close()
	if resp.StatusCode == 200 {
		ps := &AddSubUsersToIp200Response{}
		if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
			return nil, err
		}

		return ps, err
	}
	if resp.StatusCode == 400 {
		ps := &IpAddressManagementErrorResponse{}
		if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
			return nil, err
		}

		return ps, err
	}
	if resp.StatusCode == 401 {
		ps := &IpAddressManagementErrorResponse{}
		if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
			return nil, err
		}

		return ps, err
	}
	if resp.StatusCode == 500 {
		ps := &IpAddressManagementErrorResponse{}
		if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
			return nil, err
		}

		return ps, err
	}
	return http.Response{StatusCode: resp.StatusCode, Body: resp.Body, Header: resp.Header}, nil
}
