/*
* This code was generated by
*
* SENDGRID-OAI-GENERATOR
*
* Twilio SendGrid Webhook Configuration API
* The Twilio SendGrid Webhooks API allows you to configure the Event and Parse Webhooks.  Email is a data-rich channel, and implementing the Event Webhook will allow you to consume those data in nearly real time. This means you can actively monitor and participate in the health of your email program throughout the send cycle.  The Inbound Parse Webhook processes all incoming email for a domain or subdomain, parses the contents and attachments and then POSTs `multipart/form-data` to a URL that you choose.
*
* NOTE: This class is auto generated by OpenAPI Generator.
* https://openapi-generator.tech
* Do not edit the class manually.
 */

package openapi

import (
	"encoding/json"
	"net/http"
	"net/url"

	"strings"
)

type UpdateSecurityPolicyParam struct {
	//
	Id *string `json:"id"`
	// The `on-behalf-of` header allows you to make API calls from a parent account on behalf of the parent's Subusers or customer accounts. You will use the parent account's API key when using this header. When making a call on behalf of a customer account, the property value should be \"account-id\" followed by the customer account's ID (e.g., `on-behalf-of: account-id <account-id>`). When making a call on behalf of a Subuser, the property value should be the Subuser's username (e.g., `on-behalf-of: <subuser-username>`). See [**On Behalf Of**](https://docs.sendgrid.com/api-reference/how-to-use-the-sendgrid-v3-api/on-behalf-of) for more information.
	Onbehalfof *string `json:"on-behalf-of,omitempty"`
	//
	CreateSecurityPolicyRequest *CreateSecurityPolicyRequest `json:"CreateSecurityPolicyRequest,omitempty"`
}

func (params *UpdateSecurityPolicyParam) SetId(Id string) *UpdateSecurityPolicyParam {
	params.Id = &Id
	return params
}
func (params *UpdateSecurityPolicyParam) SetOnbehalfof(Onbehalfof string) *UpdateSecurityPolicyParam {
	params.Onbehalfof = &Onbehalfof
	return params
}
func (params *UpdateSecurityPolicyParam) SetCreateSecurityPolicyRequest(CreateSecurityPolicyRequest CreateSecurityPolicyRequest) *UpdateSecurityPolicyParam {
	params.CreateSecurityPolicyRequest = &CreateSecurityPolicyRequest
	return params
}

// Update an existing webhook security policy with new configuration values.
func (c *ApiService) UpdateSecurityPolicy(params *UpdateSecurityPolicyParam) (interface{}, error) {
	path := "/v3/user/webhooks/security/policies/{Id}"
	if params != nil && params.Id != nil {
		path = strings.Replace(path, "{"+"Id"+"}", *params.Id, -1)
	}

	data := url.Values{}
	headers := map[string]interface{}{
		"Content-Type": "application/json",
	}

	body := []byte{}
	if params != nil && params.CreateSecurityPolicyRequest != nil {
		b, err := json.Marshal(*params.CreateSecurityPolicyRequest)
		if err != nil {
			return nil, err
		}
		body = b
	}

	if params != nil && params.Onbehalfof != nil {
		headers["on-behalf-of"] = *params.Onbehalfof
	}
	resp, err := c.requestHandler.Patch(c.baseURL+path, data, headers, body...)
	if err != nil {
		return nil, err
	}

	defer resp.Body.Close()
	if resp.StatusCode == 200 {
		ps := &UpdateSecurityPolicy200Response{}
		if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
			return nil, err
		}

		return ps, err
	}
	return http.Response{StatusCode: resp.StatusCode, Body: resp.Body, Header: resp.Header}, nil
}
