/*
* This code was generated by
*
* SENDGRID-OAI-GENERATOR
*
* Twilio SendGrid Marketing Campaigns Lists API
* The Twilio SendGrid Marketing Campaigns Lists API allows you to manage your contacts lists programmatically. Lists are static collections of Marketing Campaigns contacts. You can use this API to interact with the list objects themselves. To add contacts to a list, you must use the [Contacts API](https://docs.sendgrid.com/api-reference/contacts/).  You can also manage your lists using the Contacts menu in the [Marketing Campaigns application user interface](https://mc.sendgrid.com/contacts). For more information about lists and best practices for building them, see [**Building your Contact Lists**](https://sendgrid.com/docs/ui/managing-contacts/building-your-contact-list/).
*
* NOTE: This class is auto generated by OpenAPI Generator.
* https://openapi-generator.tech
* Do not edit the class manually.
 */

package openapi

import (
	"encoding/json"
	"net/http"
	"net/url"

	"strings"
)

type DeleteContactParam struct {
	// Comma separated list of contact IDs that you want to remove from the specified contacts list.
	ContactIds *string `json:"contact_ids"`
	// The ID of the list on which you want to perform the operation.
	Id *string `json:"id"`
}

func (params *DeleteContactParam) SetContactIds(ContactIds string) *DeleteContactParam {
	params.ContactIds = &ContactIds
	return params
}
func (params *DeleteContactParam) SetId(Id string) *DeleteContactParam {
	params.Id = &Id
	return params
}

// **This endpoint allows you to remove contacts from a given list.**  The contacts will not be deleted. Only their list membership will be changed.
func (c *ApiService) DeleteContact(params *DeleteContactParam) (interface{}, error) {
	path := "/v3/marketing/lists/{Id}/contacts"
	if params != nil && params.Id != nil {
		path = strings.Replace(path, "{"+"Id"+"}", *params.Id, -1)
	}

	data := url.Values{}
	headers := map[string]interface{}{
		"Content-Type": "application/x-www-form-urlencoded",
	}

	if params != nil && params.ContactIds != nil {
		data.Set("contact_ids", *params.ContactIds)
	}

	resp, err := c.requestHandler.Delete(c.baseURL+path, data, headers)
	if err != nil {
		return nil, err
	}

	defer resp.Body.Close()
	if resp.StatusCode == 202 {
		ps := &DeleteContact202Response{}
		if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
			return nil, err
		}

		return ps, err
	}
	if resp.StatusCode == 400 {
		ps := &Error{}
		if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
			return nil, err
		}

		return ps, err
	}
	return http.Response{Status: resp.Status, StatusCode: resp.StatusCode, Body: resp.Body}, nil
}
