/*
* This code was generated by
*
* SENDGRID-OAI-GENERATOR
*
* Twilio SendGrid Tracking Settings API
* The Twilio SendGrid Tracking Settings API allows you to configure which tracking settings are enabled for your messages. You can track many of your recipients' interactions with your emails, including which emails they open, which links they click, and when they subscribe to or unsubscribe from your emails. See [**Tracking Settings**](https://docs.sendgrid.com/ui/account-and-settings/tracking) for more information.
*
* NOTE: This class is auto generated by OpenAPI Generator.
* https://openapi-generator.tech
* Do not edit the class manually.
 */

package openapi

import (
	"encoding/json"
	"net/http"
	"net/url"
)

type UpdateOpenTrackingSettingParam struct {
	// The `on-behalf-of` header allows you to make API calls from a parent account on behalf of the parent's Subusers or customer accounts. You will use the parent account's API key when using this header. When making a call on behalf of a customer account, the property value should be \"account-id\" followed by the customer account's ID (e.g., `on-behalf-of: account-id <account-id>`). When making a call on behalf of a Subuser, the property value should be the Subuser's username (e.g., `on-behalf-of: <subuser-username>`). See [**On Behalf Of**](https://docs.sendgrid.com/api-reference/how-to-use-the-sendgrid-v3-api/on-behalf-of) for more information.
	Onbehalfof *string `json:"on-behalf-of,omitempty"`
	//
	UpdateOpenTrackingSettingRequest *UpdateOpenTrackingSettingRequest `json:"UpdateOpenTrackingSettingRequest,omitempty"`
}

func (params *UpdateOpenTrackingSettingParam) SetOnbehalfof(Onbehalfof string) *UpdateOpenTrackingSettingParam {
	params.Onbehalfof = &Onbehalfof
	return params
}
func (params *UpdateOpenTrackingSettingParam) SetUpdateOpenTrackingSettingRequest(UpdateOpenTrackingSettingRequest UpdateOpenTrackingSettingRequest) *UpdateOpenTrackingSettingParam {
	params.UpdateOpenTrackingSettingRequest = &UpdateOpenTrackingSettingRequest
	return params
}

// **This endpoint allows you to update your current settings for open tracking.**  Open Tracking adds an invisible image at the end of the email which can track email opens.  If the email recipient has images enabled on their email client, a request to SendGrid’s server for the invisible image is executed and an open event is logged.  These events are logged in the Statistics portal, Email Activity interface, and are reported by the Event Webhook.
func (c *ApiService) UpdateOpenTrackingSetting(params *UpdateOpenTrackingSettingParam) (interface{}, error) {
	path := "/v3/tracking_settings/open"

	data := url.Values{}
	headers := map[string]interface{}{
		"Content-Type": "application/json",
	}

	body := []byte{}
	if params != nil && params.UpdateOpenTrackingSettingRequest != nil {
		b, err := json.Marshal(*params.UpdateOpenTrackingSettingRequest)
		if err != nil {
			return nil, err
		}
		body = b
	}

	if params != nil && params.Onbehalfof != nil {
		headers["on-behalf-of"] = *params.Onbehalfof
	}
	resp, err := c.requestHandler.Patch(c.baseURL+path, data, headers, body...)
	if err != nil {
		return nil, err
	}

	defer resp.Body.Close()
	if resp.StatusCode == 200 {
		ps := &ListOpenTrackingSetting200Response{}
		if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
			return nil, err
		}

		return ps, err
	}
	return http.Response{Status: resp.Status, StatusCode: resp.StatusCode, Body: resp.Body}, nil
}
