/*
* This code was generated by
*
* SENDGRID-OAI-GENERATOR
*
* Twilio SendGrid IP Address API
* The Twilio SendGrid IP Address API allows you to add and manage dedicated IP addresses and IP Pools for your SendGrid account and Subusers. If you are sending any significant amount of email, SendGrid typically suggests sending from dedicated IPs. It's also best to send marketing and transactional emails from separate IP addresses. In order to do this, you'll need to set up IP Pools, which are groups of dedicated IP addresses you define to send particular types of messages. See the [**Dedicated IP Addresses**](https://docs.sendgrid.com/ui/account-and-settings/dedicated-ip-addresses) for more information about obtaining and allocating IPs.
*
* NOTE: This class is auto generated by OpenAPI Generator.
* https://openapi-generator.tech
* Do not edit the class manually.
 */

package openapi

import (
	"encoding/json"
	"net/url"

	"strings"
)

type AddIpToIpPoolParam struct {
	// The name of the IP pool you want to add the address to. If the name contains spaces, they must be URL encoded (e.g., \"Test Pool\" becomes \"Test%20Pool\").
	PoolName *string `json:"pool_name"`
	//
	AddIpToIpPoolRequest *AddIpToIpPoolRequest `json:"AddIpToIpPoolRequest,omitempty"`
}

func (params *AddIpToIpPoolParam) SetPoolName(PoolName string) *AddIpToIpPoolParam {
	params.PoolName = &PoolName
	return params
}
func (params *AddIpToIpPoolParam) SetAddIpToIpPoolRequest(AddIpToIpPoolRequest AddIpToIpPoolRequest) *AddIpToIpPoolParam {
	params.AddIpToIpPoolRequest = &AddIpToIpPoolRequest
	return params
}

// **This endpoint allows you to add an IP address to an IP pool.**  You can add the same IP address to multiple pools. It may take up to 60 seconds for your IP address to be added to a pool after your request is made.  Before you can add an IP to a pool, you need to activate it in your SendGrid account:  1. Log into your SendGrid account.   1. Navigate to **Settings** and then select **IP Addresses**.   1. Find the IP address you want to activate and then click **Edit**.   1. Check **Allow my account to send mail using this IP address**. 1. Click **Save**.  You can retrieve all of your available IP addresses from the \"Retrieve all IP addresses\" endpoint.
func (c *ApiService) AddIpToIpPool(params *AddIpToIpPoolParam) (interface{}, error) {
	path := "/v3/ips/pools/{PoolName}/ips"
	if params != nil && params.PoolName != nil {
		path = strings.Replace(path, "{"+"PoolName"+"}", *params.PoolName, -1)
	}

	data := url.Values{}
	headers := map[string]interface{}{
		"Content-Type": "application/json",
	}

	body := []byte{}
	if params != nil && params.AddIpToIpPoolRequest != nil {
		b, err := json.Marshal(*params.AddIpToIpPoolRequest)
		if err != nil {
			return nil, err
		}
		body = b
	}

	resp, err := c.requestHandler.Post(c.baseURL+path, data, headers, body...)
	if err != nil {
		return nil, err
	}

	defer resp.Body.Close()
	if resp.StatusCode == 201 {
		ps := &AddIpToIpPool201Response{}
		if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
			return nil, err
		}

		return ps, err
	}
	if resp.StatusCode == 404 {
		ps := &AddIpToIpPool404Response{}
		if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
			return nil, err
		}

		return ps, err
	}
	return nil, nil
}
