/*
* This code was generated by
*
* SENDGRID-OAI-GENERATOR
*
* Twilio SendGrid Suppressions API
* The Twilio SendGrid Suppressions API allows you to manage your Suppressions or Unsubscribes and Suppression or Unsubscribe groups. With SendGrid, an unsubscribe is the action an email recipient takes when they opt-out of receiving your messages. A suppression is the action you take as a sender to filter or suppress an unsubscribed address from your email send. From the perspective of the recipient, your suppression is the result of their unsubscribe.  You can have global suppressions, which represent addresses that have been unsubscribed from all of your emails. You can also have suppression groups, also known as ASM groups, which represent categories or groups of emails that your recipients can unsubscribe from, rather than unsubscribing from all of your messages.  SendGrid automatically suppresses emails sent to users for a variety of reasons, including blocks, bounces, invalid email addresses, spam reports, and unsubscribes. SendGrid suppresses these messages to help you maintain the best possible sender reputation by attempting to prevent unwanted mail. You may also add addresses to your suppressions.  See [**Suppressions**](https://docs.sendgrid.com/for-developers/sending-email/suppressions) for more information.
*
* NOTE: This class is auto generated by OpenAPI Generator.
* https://openapi-generator.tech
* Do not edit the class manually.
 */

package openapi

import (
	"encoding/json"
	"net/http"
	"net/url"

	"strings"
)

type AddSuppressionToAsmGroupParam struct {
	// The id of the unsubscribe group that you are adding suppressions to.
	GroupId *string `json:"group_id"`
	// The `on-behalf-of` header allows you to make API calls from a parent account on behalf of the parent's Subusers or customer accounts. You will use the parent account's API key when using this header. When making a call on behalf of a customer account, the property value should be \"account-id\" followed by the customer account's ID (e.g., `on-behalf-of: account-id <account-id>`). When making a call on behalf of a Subuser, the property value should be the Subuser's username (e.g., `on-behalf-of: <subuser-username>`). See [**On Behalf Of**](https://docs.sendgrid.com/api-reference/how-to-use-the-sendgrid-v3-api/on-behalf-of) for more information.
	Onbehalfof *string `json:"on-behalf-of,omitempty"`
	//
	SuppressionsRequest *SuppressionsRequest `json:"SuppressionsRequest,omitempty"`
}

func (params *AddSuppressionToAsmGroupParam) SetGroupId(GroupId string) *AddSuppressionToAsmGroupParam {
	params.GroupId = &GroupId
	return params
}
func (params *AddSuppressionToAsmGroupParam) SetOnbehalfof(Onbehalfof string) *AddSuppressionToAsmGroupParam {
	params.Onbehalfof = &Onbehalfof
	return params
}
func (params *AddSuppressionToAsmGroupParam) SetSuppressionsRequest(SuppressionsRequest SuppressionsRequest) *AddSuppressionToAsmGroupParam {
	params.SuppressionsRequest = &SuppressionsRequest
	return params
}

// **This endpoint allows you to add email addresses to an unsubscribe group.**  If you attempt to add suppressions to a group that has been deleted or does not exist, the suppressions will be added to the global suppressions list.
func (c *ApiService) AddSuppressionToAsmGroup(params *AddSuppressionToAsmGroupParam) (interface{}, error) {
	path := "/v3/asm/groups/{GroupId}/suppressions"
	if params != nil && params.GroupId != nil {
		path = strings.Replace(path, "{"+"GroupId"+"}", *params.GroupId, -1)
	}

	data := url.Values{}
	headers := map[string]interface{}{
		"Content-Type": "application/json",
	}

	body := []byte{}
	if params != nil && params.SuppressionsRequest != nil {
		b, err := json.Marshal(*params.SuppressionsRequest)
		if err != nil {
			return nil, err
		}
		body = b
	}

	if params != nil && params.Onbehalfof != nil {
		headers["on-behalf-of"] = *params.Onbehalfof
	}
	resp, err := c.requestHandler.Post(c.baseURL+path, data, headers, body...)
	if err != nil {
		return nil, err
	}

	defer resp.Body.Close()
	if resp.StatusCode == 201 {
		ps := &AddSuppressionToAsmGroup201Response{}
		if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
			return nil, err
		}

		return ps, err
	}
	return http.Response{Status: resp.Status, StatusCode: resp.StatusCode, Body: resp.Body}, nil
}
