/*
* This code was generated by
*
* SENDGRID-OAI-GENERATOR
*
* Twilio SendGrid Subusers
* The Twilio SendGrid Subusers API allows you to create and manage your Subuser accounts. Subusers are available on [Pro and Premier plans](https://sendgrid.com/pricing), and you can think of them as sub-accounts. Each Subuser can have its own sending domains, IP addresses, and reporting. SendGrid recommends creating Subusers for each of the different types of emails you send—one Subuser for transactional emails and another for marketing emails. Independent Software Vendor (ISV) customers may also create Subusers for each of their customers.  You can also manage Subusers in the [Twilio SendGrid application user interface](https://app.sendgrid.com/settings/subusers). See [**Subusers**](https://docs.sendgrid.com/ui/account-and-settings/subusers) for more information.
*
* NOTE: This class is auto generated by OpenAPI Generator.
* https://openapi-generator.tech
* Do not edit the class manually.
 */

package openapi

import (
	"encoding/json"
	"fmt"
	"net/url"
)

type ListMonthlyStatParam struct {
	// The date of the month to retrieve statistics for. Must be formatted YYYY-MM-DD
	Date *string `json:"date"`
	// A substring search of your subusers.
	Subuser *string `json:"subuser,omitempty"`
	// The metric that you want to sort by. Metrics that you can sort by are: `blocks`, `bounces`, `clicks`, `delivered`, `opens`, `requests`, `unique_clicks`, `unique_opens`, and `unsubscribes`.'
	SortByMetric *SortByMetric `json:"sort_by_metric,omitempty"`
	// The direction you want to sort.
	SortByDirection *SortByDirection1 `json:"sort_by_direction,omitempty"`
	// Optional field to limit the number of results returned.
	Limit *int32 `json:"limit,omitempty"`
	// Optional beginning point in the list to retrieve from.
	Offset *int32 `json:"offset,omitempty"`
}

func (params *ListMonthlyStatParam) SetDate(Date string) *ListMonthlyStatParam {
	params.Date = &Date
	return params
}
func (params *ListMonthlyStatParam) SetSubuser(Subuser string) *ListMonthlyStatParam {
	params.Subuser = &Subuser
	return params
}
func (params *ListMonthlyStatParam) SetSortByMetric(SortByMetric SortByMetric) *ListMonthlyStatParam {
	params.SortByMetric = &SortByMetric
	return params
}
func (params *ListMonthlyStatParam) SetSortByDirection(SortByDirection SortByDirection1) *ListMonthlyStatParam {
	params.SortByDirection = &SortByDirection
	return params
}
func (params *ListMonthlyStatParam) SetLimit(Limit int32) *ListMonthlyStatParam {
	params.Limit = &Limit
	return params
}
func (params *ListMonthlyStatParam) SetOffset(Offset int32) *ListMonthlyStatParam {
	params.Offset = &Offset
	return params
}

// **This endpoint allows you to retrieve the monthly email statistics for all subusers over the given date range.**  When using the `sort_by_metric` to sort your stats by a specific metric, you can not sort by the following metrics: `bounce_drops`, `deferred`, `invalid_emails`, `processed`, `spam_report_drops`, `spam_reports`, or `unsubscribe_drops`.
func (c *ApiService) ListMonthlyStat(params *ListMonthlyStatParam) (interface{}, error) {
	path := "/v3/subusers/stats/monthly"

	data := url.Values{}
	headers := map[string]interface{}{
		"Content-Type": "application/x-www-form-urlencoded",
	}

	if params != nil && params.Date != nil {
		data.Set("date", *params.Date)
	}
	if params != nil && params.Subuser != nil {
		data.Set("subuser", *params.Subuser)
	}
	if params != nil && params.SortByMetric != nil {
		data.Set("sort_by_metric", fmt.Sprint(*params.SortByMetric))
	}
	if params != nil && params.SortByDirection != nil {
		data.Set("sort_by_direction", fmt.Sprint(*params.SortByDirection))
	}
	if params != nil && params.Limit != nil {
		data.Set("limit", fmt.Sprint(*params.Limit))
	}
	if params != nil && params.Offset != nil {
		data.Set("offset", fmt.Sprint(*params.Offset))
	}

	resp, err := c.requestHandler.Get(c.baseURL+path, data, headers)
	if err != nil {
		return nil, err
	}

	defer resp.Body.Close()
	if resp.StatusCode == 200 {
		ps := &SubuserStats{}
		if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
			return nil, err
		}

		return ps, err
	}
	return nil, nil
}
