/*
* This code was generated by
*
* SENDGRID-OAI-GENERATOR
*
* Twilio SendGrid Subusers
* The Twilio SendGrid Subusers API allows you to create and manage your Subuser accounts. Subusers are available on [Pro and Premier plans](https://sendgrid.com/pricing), and you can think of them as sub-accounts. Each Subuser can have its own sending domains, IP addresses, and reporting. SendGrid recommends creating Subusers for each of the different types of emails you send—one Subuser for transactional emails and another for marketing emails. Independent Software Vendor (ISV) customers may also create Subusers for each of their customers.  You can also manage Subusers in the [Twilio SendGrid application user interface](https://app.sendgrid.com/settings/subusers). See [**Subusers**](https://docs.sendgrid.com/ui/account-and-settings/subusers) for more information.
*
* NOTE: This class is auto generated by OpenAPI Generator.
* https://openapi-generator.tech
* Do not edit the class manually.
 */

package openapi

import (
	"encoding/json"
	"fmt"
	"net/http"
	"net/url"
)

type ListStatParam struct {
	// The subuser you want to retrieve statistics for. You may include this parameter up to 10 times to retrieve statistics for multiple subusers.
	Subusers *string `json:"subusers"`
	// The starting date of the statistics to retrieve. Must follow format YYYY-MM-DD.
	StartDate *string `json:"start_date"`
	// Limits the number of results returned per page.
	Limit *int32 `json:"limit,omitempty"`
	// The point in the list to begin retrieving results from.
	Offset *int32 `json:"offset,omitempty"`
	// How to group the statistics. Must be either \"day\", \"week\", or \"month\".
	AggregatedBy *AggregatedBy `json:"aggregated_by,omitempty"`
	// The end date of the statistics to retrieve. Defaults to today.
	EndDate *string `json:"end_date,omitempty"`
}

func (params *ListStatParam) SetSubusers(Subusers string) *ListStatParam {
	params.Subusers = &Subusers
	return params
}
func (params *ListStatParam) SetStartDate(StartDate string) *ListStatParam {
	params.StartDate = &StartDate
	return params
}
func (params *ListStatParam) SetLimit(Limit int32) *ListStatParam {
	params.Limit = &Limit
	return params
}
func (params *ListStatParam) SetOffset(Offset int32) *ListStatParam {
	params.Offset = &Offset
	return params
}
func (params *ListStatParam) SetAggregatedBy(AggregatedBy AggregatedBy) *ListStatParam {
	params.AggregatedBy = &AggregatedBy
	return params
}
func (params *ListStatParam) SetEndDate(EndDate string) *ListStatParam {
	params.EndDate = &EndDate
	return params
}

// **This endpoint allows you to retrieve the email statistics for the given subusers.**  You may retrieve statistics for up to 10 different subusers by including an additional _subusers_ parameter for each additional subuser.
func (c *ApiService) ListStat(params *ListStatParam) (interface{}, error) {
	path := "/v3/subusers/stats"

	data := url.Values{}
	headers := map[string]interface{}{
		"Content-Type": "application/x-www-form-urlencoded",
	}

	if params != nil && params.Subusers != nil {
		data.Set("subusers", *params.Subusers)
	}
	if params != nil && params.StartDate != nil {
		data.Set("start_date", *params.StartDate)
	}
	if params != nil && params.Limit != nil {
		data.Set("limit", fmt.Sprint(*params.Limit))
	}
	if params != nil && params.Offset != nil {
		data.Set("offset", fmt.Sprint(*params.Offset))
	}
	if params != nil && params.AggregatedBy != nil {
		data.Set("aggregated_by", fmt.Sprint(*params.AggregatedBy))
	}
	if params != nil && params.EndDate != nil {
		data.Set("end_date", *params.EndDate)
	}

	resp, err := c.requestHandler.Get(c.baseURL+path, data, headers)
	if err != nil {
		return nil, err
	}

	defer resp.Body.Close()
	if resp.StatusCode == 200 {
		ps := &[]CategoryStats{}
		if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
			return nil, err
		}

		return ps, err
	}
	return http.Response{StatusCode: resp.StatusCode, Body: resp.Body, Header: resp.Header}, nil
}
